Fuentes BancaCelular/BFP.BancaCelular/Test/Service References/BFP.ServiceBC/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="OperacionBancaCelular">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strIdTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intIdOperacion" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strNumeroTelefono" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intIdOperadora" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strIdTransaccionVerifica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strParametrosOperacion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OperacionBancaCelularResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OperacionBancaCelularResult" type="tns:EResultadoMensajeMT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EResultadoMensajeMT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodRet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MensajeMT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fecha" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Hora" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UsuarioCredencial" type="tns:UsuarioCredencial" />
      <s:complexType name="UsuarioCredencial">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OperacionBancaCelularSoapIn">
    <wsdl:part name="parameters" element="tns:OperacionBancaCelular" />
  </wsdl:message>
  <wsdl:message name="OperacionBancaCelularSoapOut">
    <wsdl:part name="parameters" element="tns:OperacionBancaCelularResponse" />
  </wsdl:message>
  <wsdl:message name="OperacionBancaCelularUsuarioCredencial">
    <wsdl:part name="UsuarioCredencial" element="tns:UsuarioCredencial" />
  </wsdl:message>
  <wsdl:portType name="ServiceBancaCelular">
    <wsdl:operation name="OperacionBancaCelular">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Procesa las operaciones habilitadas en la Banca Celular</wsdl:documentation>
      <wsdl:input message="tns:OperacionBancaCelularSoapIn" />
      <wsdl:output message="tns:OperacionBancaCelularSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceBancaCelular" type="tns:ServiceBancaCelular">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OperacionBancaCelular">
      <soap:operation soapAction="http://tempuri.org/OperacionBancaCelular" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:OperacionBancaCelularUsuarioCredencial" part="UsuarioCredencial" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceBancaCelular1" type="tns:ServiceBancaCelular">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OperacionBancaCelular">
      <soap12:operation soapAction="http://tempuri.org/OperacionBancaCelular" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:OperacionBancaCelularUsuarioCredencial" part="UsuarioCredencial" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceBancaCelular" binding="tns:ServiceBancaCelular">
      <soap:address location="http://localhost:1981/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceBancaCelular1" binding="tns:ServiceBancaCelular1">
      <soap12:address location="http://localhost:1981/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>